html {
    background-color: #C39BD3;
    /* Selection de la couleur du fond */
    font-size: 14px;
    width: 100%;
}

h1 {
    font-size: 1.5em; 
}

h2 {
    font-size: 2em; 
}

/* Utilisation de mesures relatives pour modifier la taille de h1 et h2 */


#page {
    margin: 0 auto;
    max-width: 60%; 
    background-color:#F8BBD0;
    border: 20px solid #FFCDD2;
}

.entete {
    text-align: center;
}

#aboutme {
   background-color: #FFC0CB;
}

footer {
    text-align: center;
}
/* Alignement du footer */
